<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書籍薦購</title>
    <meta name="google" content="notranslate">
 </head>

<body>
    <style type = "text/css">
		body{
			position: absolute;
			background-color: #FFF2F2;
		}
		div{
			width:450px ;
			text-align: center;
			position:absolute;
            font-size: 1.3em;
			left: 550px;
			top: 200px;
		}
		.a1{
			background-color: transparent;
			color: firebrick;
			border-width: 0px;
			height:350px ;
			width: 800px;
			font-size: 1.5em;
			position:absolute;
			left: 400px;
			top: 50px;
		}
	  </style>
    <div class = "a1">
        <h1>書籍薦購，你想向圖書館推薦什麼書?</h1>
    </div>
    <div><a href="/r_member">回會員控制頁面</a>
    <hr>
    <form action="{{ url_for('new_recommend') }}" method="POST">
        ISBN<br>
        <input type="text" name="ISBN" /></br>
        書名<br>
        <input type="text" name="title" /></br>
        作者<br>
        <textarea type="text" name="author"></textarea><br>
        分類<br>
        <input type="text" name="category" /></br>
        版次<br>
        <input type="text" name="version" /><br><br>
        <button>推薦</button>
    </form>
    </div>
</body>

</html>